[Unit]
Before=nftables.service

[Install]
WantedBy=multi-user.target

[Service]
Type=oneshot
RemainAfterExit=yes
PrivateNetwork=yes
PrivateMounts=no

# precaution
ExecStartPre=-/usr/bin/env ip netns delete docker

# cleanup
ExecStart=/usr/bin/flock --no-fork -- /var/run/netns.lock /usr/bin/env ip netns add docker
ExecStart=/usr/bin/env umount /var/run/netns/docker
ExecStart=/usr/bin/env mount --bind /proc/self/ns/net /var/run/netns/docker

# add veth
ExecStart=nsenter -t 1 -n -- ip link add docker0 type veth peer name docker0_ns
ExecStart=sh -c 'nsenter -t 1 -n -- ip link set docker0_ns netns docker && true'
ExecStart=ip link set docker0_ns name eth0

# bring host online
ExecStart=nsenter -t 1 -n -- ip addr add 10.0.100.0/31 dev docker0
ExecStart=nsenter -t 1 -n -- ip link set docker0 up

# bring ns online
ExecStart=ip addr add 10.0.100.1/31 dev eth0
ExecStart=ip link set eth0 up
ExecStart=ip route add default via 10.0.100.0 dev eth0

# remove the netns
ExecStop=/usr/bin/env ip netns delete docker
