[Unit]
Description=System-wide Pulseaudio
After=network.target

[Service]
ExecStart=/usr/bin/pulseaudio
ExecStop=/usr/bin/pulseaudio -k
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
