[Unit]
Requires=network-online.target named.service
After=network-online.target named.service

[Install]
WantedBy=multi-user.target

[Service]
Type=oneshot
RemainAfterExit=no

ExecStart=/mss/share/shart_net-handler up
ExecStop=/mss/share/shart_net-handler down
