[Unit]
Description=SHART Public WireGuard
Before=nftables.service
Requires=network-online.target named.service
After=network-online.target named.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/wg-quick up shart_pub
ExecStop=/usr/bin/wg-quick down shart_pub
ExecReload=/bin/bash -c 'exec /usr/bin/wg syncconf shart_pub <(exec /usr/bin/wg-quick strip shart_pub)'
Environment=WG_ENDPOINT_RESOLUTION_RETRIES=infinity

[Install]
WantedBy=multi-user.target
