AcceptEnv                  no
AddressFamily              inet
AllowAgentForwarding       no
AllowGroups                mss
AllowStreamLocalForwarding yes
AllowTcpForwarding         yes
AllowUsers                 mss
AuthenticationMethods      publickey
AuthorizedKeysFile         .ssh/authorized_keys
Banner                     /etc/ssh/banner
ExposeAuthInfo             no
FingerprintHash            sha256
HostKey                    /etc/ssh/ssh_host_rsa_key
ListenAddress              0.0.0.0
LoginGraceTime             60
LogLevel                   ERROR
MaxAuthTries               3
MaxSessions                4
MaxStartups                4
PasswordAuthentication     no
PermitEmptyPasswords       no
PermitRootLogin            no
PermitTunnel               yes
Port                       3131
PrintMotd                  no
PubkeyAuthentication       yes
StrictModes                yes
SyslogFacility             AUTH
X11Forwarding              no
GatewayPorts               yes
